* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Christmas Classica';
    src: url(fonts/Christmas\ Classically.otf);
}

body {
    background-image: url(Images/christmas-background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 400px;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Christmas Classica', sans-serif;
    color: rgb(22, 57, 6);
    font-size: 70px;
}

.score-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto 0;
    margin-bottom: 0;
    font-family: 'Christmas Classica', sans-serif;
    color: rgb(22, 57, 6);
}

.score-board p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 45%;
    margin: auto;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

.player-turn {
    text-align: center;
    cursor: pointer;
    margin-bottom: 50px ;
    color: red;
    font-size: 20px;
    font-family: 'Christmas Classica', sans-serif;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 250px;
    height: 250px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    line-height: 0;
    color: rgba(0, 0, 0, 0);
    
}

.colorOfO {
    color: white;
}

#cell-1, #cell-2, #cell-3 {
    border-top: 0;
}

#cell-1, #cell-4, #cell-7 {
    border-left: 0;
}

#cell-3, #cell-6, #cell-9 {
    border-right: 0;
}

#cell-7, #cell-8, #cell-9 {
    border-bottom: 0;
}

.message {
    text-align: center;
    margin-top: 70px;
    color: rgb(22, 57, 6);
    font-size: 25px;
    font-family: 'Christmas Classica', sans-serif;
}

.santa {
    background-image: url(Images/santa.avif);
    background-size: contain;
    background-repeat: no-repeat;
}

.reindeer {
    background-image: url(Images/reindeer.avif);
    background-size: contain;
    background-repeat: no-repeat;
}

.reset-btn {
    text-align: center;
    cursor: pointer;
    color: red;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Christmas Classica', sans-serif;
}

footer {
    font-family: 'Christmas Classica', sans-serif;
    font-size: 25px;
    color: rgb(22, 57, 6);
    margin-left: 40px;
}